@mixin reset-styles {
  border-radius: 10px;
  border: none;
  outline: none;
  transition: box-shadow ease-in-out 0.2s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  &:focus {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

//animation
@mixin xuathien {
  animation-name: xuathien;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes xuathien {
  from {
    opacity: 0;
    transform: translateX(-70%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


